html {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.reddit-mono {
    font-family: "Reddit Mono", monospace;
    font-style: normal;
}

.nav-item a:hover {
    transition:all 0.7s;
    background-color: gray;
}

.nav-item .selected:hover {
    transition:all 0.7s;
    background-color:rgba(70, 110, 210) ;
}

.nav-item .selected {
    transition:all 0.7s;
    background-color: rgba(30, 70, 170);
}

.nav-item .danger {
    background-color: red;
}

.visible {
    visibility: visible;
}

.invisible { 
    visibility: collapse;
    overflow: hidden;
    height: 0;
    width: 0;
}